.login-box {
  max-width: 360px;
  margin: 100px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
}
